--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
# transformers>=4.39.0
datasets
# Update accelerate to match the new transformers/torch
# accelerate>=0.28.0
# torch==2.1.0+cpu
numpy<2.0
pandas
scikit-learn
emoji
streamlit
requests
torch==2.2.0+cpu
transformers==4.49.0
accelerate>=0.29.0
